body{
	background:#000;
	height: 250px;
	margin:0;
	padding:0;
	width: 319px;

}

img{
	border: 0px none ;
	display: block;
	height: 267px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 319px;
	z-index: 1;
}
iframe {
	border: 0;
	display: inline;
	height: 19px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 319px;
	z-index: 2;
	top: 267px;	
}
h1{
	background: rgba(255, 0, 0, 0.2);
	border-radius: 0 0 10px 10px;
	border-top: 5px solid #212121;
	color:rgba(255, 255, 255, 0.8);
	display: block;
	font-family: helvetica;
	font-size: 20px;
	margin: 0px;
	padding: 2px 4px;
	position: absolute;
	text-transform: uppercase;
	text-shadow:3px 3px 2px #000;
	z-index: 3;
}
.logo{
	display: block;
	height: 40px;
	position: absolute;
	width: 95px;
	z-index:4;
	top: 223px;
	left: 220px;
}

